<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
    <%-include("partials/SEO") -%>
  </head>
  <body class="bg-white dark:bg-lightBlack">
    <%- include("partials/nav"); -%>
    <section id="Theme Selection">
      
    </section>
    <section id="Main Body">
      <div class="mt-32 p-4 md:p-20">
      <h1 class="text-black dark:text-white text-2xl md:text-4xl mb-4">
        <%=title%>
      </h1>
      <p class="text-grey capitalize leading-relaxed"><%=content%></p>
    </div>
    </section>
    <%- include("partials/cta") -%>
    <%- include("partials/footer") -%>
    <script src="../JS/news.js"></script>
    <!-- Iconic Icon Scripts -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
